# Python System Files
__pycache__/
venv/
env/

# Local Database (මේක යවන්න එපා)
face_database.db

# Uploaded Photos (පෞද්ගලික දත්ත)
known_faces/

# YOLO Model File (Run කරනකොට Auto Download වෙයි)
yolov8n.pt